---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import IdentityStack from "../components/IdentityStack.astro";
import Quickstart from "../components/Quickstart.astro";
import Pipeline from "../components/Pipeline.astro";
import Features from "../components/Features.astro";
import Comparison from "../components/Comparison.astro";
import NeuralSpaceShowcase from "../components/NeuralSpaceShowcase.astro";
import ParticleHumanoid from "../components/ParticleHumanoid.astro";
import Pricing from "../components/Pricing.astro";
import CTABanner from "../components/CTABanner.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <IdentityStack />
    <Quickstart />
    <Pipeline />
    <Features />
    <Comparison />
    <NeuralSpaceShowcase />
    <ParticleHumanoid />
    <Pricing />
    <CTABanner />
  </main>
  <Footer />
</Layout>
