---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Quickstart from "../components/Quickstart.astro";
import Transformation from "../components/Transformation.astro";
import WhyNow from "../components/WhyNow.astro";
import Pipeline from "../components/Pipeline.astro";
import FleetTherapy from "../components/FleetTherapy.astro";
import TerminalDemo from "../components/TerminalDemo.astro";
import Comparison from "../components/Comparison.astro";
import NeuralSpaceShowcase from "../components/NeuralSpaceShowcase.astro";
import Pricing from "../components/Pricing.astro";
import CTABanner from "../components/CTABanner.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Quickstart />
    <Transformation />
    <WhyNow />
    <Pipeline />
    <FleetTherapy />
    <TerminalDemo />
    <Comparison />
    <NeuralSpaceShowcase />
    <Pricing />
    <CTABanner />
  </main>
  <Footer />
</Layout>
